.anwg-input {
  padding: 8px 16px;

  color: var(--greyscale-900, #0F172A);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.2px;

  border-radius: 12px;
  border: 1px solid var(--greyscale-200, #E2E8F0);
}
